body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.span-class-orange {

  color: orange;
}
.my-mission { 
    text-align: center;
    font-weight: 800;
                }

.sec-one-hero { background-image: url(images/top-banner.png);
                background-repeat: no-repeat;
                

}

h1 {
    font-size: 40px;
}
.flex-box { 
    display: flex;
    margin-bottom: 60px;
}

.div-asad {
 

}

.half-width {
    width: 50%;
    padding-left: 8%;
    margin-top: 50px;
    margin-bottom: 50px;

}
.half-width img {

    width: 60%;
}

.half-width p {

    text-align: justify;
    margin-bottom: 30px;
    margin-top: 30px;
}
.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: wheat;
   font-weight: 800;
   border-radius: 10px;
   
  
}
.section-two {
 
}

.section-two h1 {
    font-weight: 800;
}

.three-width {
   padding: 20px;
    width: 33.33%;
    margin: 5%;


}
.three-width img {
    width:  40%;
}
.Mission-one {

    background-color: rgba(255, 0, 0, 0.274);
    border-radius: 10%;
}

.Mission-two {

    background-color: rgba(0, 255, 128, 0.274);
    border-radius: 10%;
}

.Mission-three {
   

    background-color: rgba(255, 217, 0, 0.274);
    border-radius: 10%;
}

.image {

    width: 40%;
}

.image img {
    width: 100%;
}

.contentt{
    width: 60%;
}

.image-two {

    width: 40%;
}

.image-two img {
    width: 100%;
}

.contentt-two{
    width: 60%;
}
.go-corona { 

}

.half-widthh {

    width: 60%;
}

.image-aa {
    width: 40%;
    display: block;
    padding-left: 10%;
}

.image-aa img{ width: 100%;
align: center;}


.width-last-img {
    width: 40%;

}

.width-last-img img{
   width: 100%;

}

.half-last-content {

    width: 60%;
    margin-top: 10%;
    margin-right: 50px;

}